.container {
  min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "monofonto";
    text-shadow: 1px 1px 50px #41E3B2;
}

.video {
  object-fit: cover;   
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;  
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
  line-height: 1;
  font-family: "FalloutFont";
  color: #fff;
  letter-spacing: 1rem;
  /* text-shadow: -1px -1px  #000, 5px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
  font-size: 5rem;
}
.title,
.description {
  text-align: center;
}

.subtitle {
  font-size: 2.5rem;
  color: #fff;
  -webkit-text-stroke: #000 .5px ;
}

.description {
  line-height: 1;
  font-size: 2rem;
  color: #fff;
  margin: 0 32rem 0 32rem;
  -webkit-text-stroke: #000 1.25px ;
}
.btn {
  font-size: 1.5rem;
  background-color: #000;
  margin: 3rem 0 0 0;
  color:#fff ;
  padding: 1.5rem;
  border-radius: 100px;
}
.btn:hover {
 color: #41E366;
 text-shadow: 1px 1px 50px #fff; 
}
@media (min-width: 800px) and (max-width: 1000px) {
  .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "monofonto";
      text-shadow: 1px 1px 50px #41E3B2;
  }
  .video {
      object-fit: cover;   
      width: 150%;
      height: 150%;
      position: fixed;
      z-index: -1;  
  }
  
  .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .title {
      margin: 3rem 0 0 0;
      line-height: 1;
      font-family: "FalloutFont";
      color: #fff;
      letter-spacing: 1rem;
      /* text-shadow: -1px -1px  #000, 5px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
      font-size: 3.5rem;
  }
  .title,
    .description {
      text-align: center;
  }
  
  .subtitle {
      font-size: 2rem;
      color: #fff;
      -webkit-text-stroke: #000 .5px ;
  }
  
  .description {
      line-height: 1;
      font-size: 1.9rem;
      color: #fff;
      margin: 0 5rem 0 5rem;
      -webkit-text-stroke: #000 1.25px ;
  }
  .btn {
      font-size: 1.3rem;
      background-color: #000;
      margin: 3rem 0 0 0;
      color:#fff ;
      padding: 1.5rem;
      border-radius: 100px;
  }
  .btn:hover {
     color: #41E366;
     text-shadow: 1px 1px 50px #fff; 
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "monofonto";
      text-shadow: 1px 1px 50px #41E3B2;
  }
  .video {
      object-fit: cover;   
      width: 300%;
      height: 200%;
      position: fixed;
      z-index: -1;  
  }
  .title {
      margin: 1rem 0 0 0;
      line-height: 1;
      font-family: "FalloutFont";
      color: #fff;
      letter-spacing: 1rem;
      font-size: 2.5rem;
  }
  .subtitle {
      font-size: 1.9rem;
      color: #fff;
      -webkit-text-stroke: #000 .5px ;
  }
  .description {
      line-height: 1;
      font-size: 1.5rem;
      color: #fff;
      margin: 0 10rem 0 10rem;
      -webkit-text-stroke: #000 1.25px ;
  }
  .btn {
      font-size: 1.2rem;
      background-color: #000;
      margin: 3rem 0 0 0;
      color:#fff ;
      padding: 1.5rem;
      border-radius: 100px;
  }
  .btn:hover {
     color: #41E366;
     text-shadow: 1px 1px 50px #fff; 
  }
}
@media (min-width: 500px) and (max-width: 540px) {
  .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "monofonto";
      text-shadow: 1px 1px 20px #41E3B2;
  }
  .video {
      object-fit: cover;   
      width: 300%;
      height: 200%;
      position: fixed;
      z-index: -1;  
  }
  .title {
      margin: 1rem 0 0 0;
      line-height: 1;
      font-family: "FalloutFont";
      color: #fff;
      letter-spacing: .5rem;
      font-size: 2rem;
  }
  .subtitle {
      font-size: 1.5rem;
      color: #fff;
      -webkit-text-stroke: #000 .5px ;
  }
  .description {
      line-height: 1;
      font-size: 1.3rem;
      color: #fff;
      margin: 0 1.5rem 0 1.5rem;
      -webkit-text-stroke: #000 1px ;
  }
  .btn {
      font-size: 1rem;
      background-color: #000;
      margin: 3rem 0 0 0;
      color:#fff ;
      padding: 1rem;
      border-radius: 100px;
  }
  .btn:hover {
     color: #41E366;
     text-shadow: 1px 1px 50px #fff; 
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "monofonto";
      text-shadow: 1px 1px 20px #41E3B2;
  }
  .video {
      object-fit: cover;   
      width: 200%;
      height: 150%;
      position: fixed;
      z-index: -1;  
  }
  .title {
      margin: 1rem 0 0 0;
      line-height: 1;
      font-family: "FalloutFont";
      color: #fff;
      letter-spacing: .5rem;
      font-size: 1rem;
  }
  .subtitle {
      font-size: 1rem;
      color: #fff;
      -webkit-text-stroke: #000 .5px ;
  }
  .description {
      line-height: 1;
      font-size: 1rem;
      color: #fff;
      margin: 0 1rem 0 1rem;
      -webkit-text-stroke: #000 1px ;
  }
  .btn {
      font-size: .7rem;
      background-color: #000;
      margin: 2rem 0 0 0;
      color:#fff ;
      padding: 1rem;
      border-radius: 100px;
  }
  .btn:hover {
     color: #41E366;
     text-shadow: 1px 1px 50px #fff; 
  }
}